/* Container Styles */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Video container Styles */
.videoContainer {
    position: relative;
    flex: 1;
    overflow: hidden;
}

/* Video background Styles */
.videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Open map button Styles */
.btn {
    z-index: 3;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 40px;
    border-radius: 12px;
    text-transform: uppercase;
    background-color: rgb(229, 137, 38);
    border: 3px solid #3a3b3c;
    cursor: pointer;
    font-weight: 800;
    font-size: 180%;
    color: rgba(0, 0, 0, 0.886);
}

/* Open map button Styles */
.btn:hover {
    background-color: #ed7f31e2;
    border: 3px solid #ed8031;
    color: rgba(0, 0, 0, 0.765);
}