/* Footer container */
.footerContainer {
    padding: 10px 40px;
}

/* Footer wrapper */
.footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Footer text styles */
p,
a {
    font-size: 20px;
    text-decoration: none;
}

a {
    color: rgba(215, 144, 12, 0.963);
}

/* Media query for footer container */
@media (max-width: 650px) {

    .footerContainer {
        padding: 10px 30px;
    }

}

/* Media query for footer container  and github link */
@media screen and (max-width: 512px) {
    .footerContainer {
        padding: 10px 35px;
    }

    p,
    a {
        font-size: 16px;
    }

}