/* Header styles */
.headerContainer {
    padding: 10px 40px;
}

/* Header wrap styles */
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo styles */
.logo {
    width: 160px;
    height: 60px;
}

/* Links styles */
.links {
    display: flex;
    gap: 50px;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* Links hover styles */
.links a:hover {
    color: rgb(229, 137, 38);
}

/* Mobile menu styles */
.mobMenu {
    display: none;
}

/* Dropdown menu styles */
.dropdown {
    display: flex;
    flex-direction: column;
    width: 50dvw;
    height: 100dvh;
    align-items: center;
    gap: 64px;
    position: fixed;
    padding-top: 150px;
    background-color: rgb(222, 153, 33);
    right: -800px;
    top: 0;
    transition: right 0.5s ease-in-out;
  }
  
  .dropdown a {
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  
  .dropdown.show {
    top: 0;
    right: 0;
  }