/* Header styles */
.headerContainer {
    padding: 10px 40px;
}

/* Header wrap styles */
.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo styles */
.logo {
    width: 160px;
    height: 60px;
}

/* Links styles */
.links {
    display: flex;
    gap: 50px;
}

.links a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}

/* Links hover styles */
.links a:hover {
    color: rgb(229, 137, 38);
}

/* Mobile menu styles */
.mobMenu {
    display: none;
}